// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: 'Lato';
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 96px;
}

.title-highlight {
  text-decoration: underline;
}

.header-highlight {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
}

.error {
  color: #a02920;
  font-weight: bold;
}

.animated-opacity {
  transition: opacity 500ms ease-in-out;
}

/** Css Replace transition animation **/
.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}

.back-button {
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.phone-number {
  font-size: 3em;
  font-weight: bold;
}